.oceanwp-post-list {
  z-index: 1;
  overflow: hidden; }
  .oceanwp-post-list .posts-slider {
    display: none; }
    .oceanwp-post-list .posts-slider.slick-list, .oceanwp-post-list .posts-slider.slick-slider {
      display: block; }
  .oceanwp-post-list article img {
    width: 100%; }

/* Next/Prev buttons */
.oceanwp-post-list .slick-arrow {
  font-size: 25px;
  top: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  line-height: 48px;
  margin-top: -25px;
  opacity: 0;
  background-color: transparent;
  border: 1px solid #fff; }
  .oceanwp-post-list .slick-arrow:hover {
    color: #666;
    background-color: #fff; }

.oceanwp-post-list .slick-prev {
  left: 20px; }
  [dir="rtl"] .oceanwp-post-list .slick-prev {
    left: auto;
    right: 20px; }

.oceanwp-post-list .slick-next {
  right: 20px; }
  [dir="rtl"] .oceanwp-post-list .slick-next {
    right: auto;
    left: 20px; }

.oceanwp-post-list:hover .slick-arrow {
  opacity: 1; }

/* Style one */
.oceanwp-post-list.one article {
  position: relative; }

.oceanwp-post-list.one .slide-overlay-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  text-align: center;
  background: rgba(0, 0, 0, 0.2); }
  .oceanwp-post-list.one .slide-overlay-wrap:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle; }

.oceanwp-post-list.one article:hover .slide-overlay-wrap {
  background: rgba(0, 0, 0, 0.3); }

.oceanwp-post-list.one .slide-overlay {
  z-index: 100;
  display: inline-block;
  width: 75%;
  vertical-align: middle; }

.oceanwp-post-list.one .slide-overlay,
.oceanwp-post-list.one .oceanwp-post-category a,
.oceanwp-post-list.one h2 a,
.oceanwp-post-list.one .oceanwp-post-date a {
  color: #fff; }

.oceanwp-post-list.one .oceanwp-post-category:hover {
  color: #13aff0;
  background-color: #fff; }
  .oceanwp-post-list.one .oceanwp-post-category:hover a {
    color: #13aff0; }

.oceanwp-post-list.one .line {
  display: block;
  width: 50px;
  margin: 10px auto;
  border-top: 2px solid #fff; }

.oceanwp-post-list.one h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  display: block;
  margin: 0;
  padding-bottom: 5px;
  color: #fff; }

.oceanwp-post-list.one .oceanwp-post-date {
  font-size: 10px;
  display: block;
  margin: 15px 0 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase; }

.oceanwp-post-list.one .readmore {
  font-size: 12px;
  line-height: 1.4;
  display: inline-block;
  padding: 8px 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #f1f1f1;
  border-radius: 20px; }
  .oceanwp-post-list.one .readmore:hover {
    border-color: #13aff0;
    background-color: #13aff0; }

.oceanwp-post-list.one .slick-arrow {
  border-radius: 50%; }

.oceanwp-post-list.one .oceanwp-post-category,
.oceanwp-post-list.two .oceanwp-post-category {
  font-size: 10px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 6px 15px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #13aff0; }

/* Style two */
.oceanwp-post-list.two .slick-arrow {
  background-color: #fff;
  color: #13aff0;
  border: none;
  font-size: 18px;
  width: 30px;
  height: 30px;
  line-height: 30px; }
  .oceanwp-post-list.two .slick-arrow:hover {
    background-color: #eee; }

.oceanwp-post-list.two {
  position: relative; }
  .oceanwp-post-list.two article {
    position: relative; }
  .oceanwp-post-list.two img {
    width: 100%; }
  .oceanwp-post-list.two .slide-overlay-wrap,
  .oceanwp-post-list.two .oceanwp-post-excerpt {
    transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -webkit-transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -moz-transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -o-transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94);
    -ms-transition: all 1s cubic-bezier(0.17, 0.04, 0.03, 0.94); }
  .oceanwp-post-list.two .slide-overlay-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4); }
  .oceanwp-post-list.two article:hover .slide-overlay-wrap {
    background-color: #13aff0; }
  .oceanwp-post-list.two .slide-overlay,
  .oceanwp-post-list.two .oceanwp-post-category a,
  .oceanwp-post-list.two h2 a,
  .oceanwp-post-list.two .oceanwp-post-excerpt {
    color: #fff; }
  .oceanwp-post-list.two .oceanwp-post-category {
    font-size: 12px;
    padding: 4px 12px;
    letter-spacing: 1px;
    text-transform: capitalize; }
  .oceanwp-post-list.two article:hover .oceanwp-post-category {
    color: #13aff0;
    background-color: #fff; }
    .oceanwp-post-list.two article:hover .oceanwp-post-category a {
      color: #13aff0; }
  .oceanwp-post-list.two h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 10px;
    text-transform: capitalize; }
  .oceanwp-post-list.two .oceanwp-post-excerpt {
    overflow: hidden;
    max-height: 0; }
    .oceanwp-post-list.two .oceanwp-post-excerpt p {
      margin: 0 0 10px; }
    .oceanwp-post-list.two .oceanwp-post-excerpt .readmore {
      font-size: 10px;
      line-height: 1.4;
      display: inline-block;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff; }
  .oceanwp-post-list.two article:hover .oceanwp-post-excerpt {
    max-height: 250px; }
